{% extends "lib/base.html" %}

{% block body %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="header">
                <h4 class="card-title">Edit Profile</h4>
            </div>
            <div class="content">
                <form method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{ form.first_name.label }}</label>
                                {{ form.first_name }}
                                {% if form.first_name.errors %}
                                    <div class="text-danger">{{ form.first_name.errors }}</div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{ form.last_name.label }}</label>
                                {{ form.last_name }}
                                {% if form.last_name.errors %}
                                    <div class="text-danger">{{ form.last_name.errors }}</div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    
                    {% if form.non_field_errors %}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="alert alert-danger">
                                    {{ form.non_field_errors }}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    
                    <div class="row">
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-info btn-fill">Save Changes</button>
                        </div>
                        <div class="col-md-6 text-right">
                            <a href="{% url 'profile' %}" class="btn btn-default">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}