{% extends "lib/base.html" %}

{% block body %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="header">
                <h4 class="card-title">Edit Profile</h4>
            </div>
            <div class="content">
                <form method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{ user_form.first_name.label }}</label>
                                {{ user_form.first_name }}
                                {% if user_form.first_name.errors %}
                                    <div class="text-danger">{{ user_form.first_name.errors }}</div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{ user_form.last_name.label }}</label>
                                {{ user_form.last_name }}
                                {% if user_form.last_name.errors %}
                                    <div class="text-danger">{{ user_form.last_name.errors }}</div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    
                    <hr>
                    <h5>Privacy Settings</h5>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-check">
                                <label class="form-check-label">
                                    {{ settings_form.public_profile }}
                                    <span class="form-check-sign"></span>
                                    {{ settings_form.public_profile.label }}
                                </label>
                                <small class="form-text text-muted">{{ settings_form.public_profile.help_text }}</small>
                                {% if settings_form.public_profile.errors %}
                                    <div class="text-danger">{{ settings_form.public_profile.errors }}</div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    
                    {% if user_form.non_field_errors or settings_form.non_field_errors %}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="alert alert-danger">
                                    {{ user_form.non_field_errors }}
                                    {{ settings_form.non_field_errors }}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    
                    <div class="row">
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-info btn-fill">Save Changes</button>
                        </div>
                        <div class="col-md-6 text-right">
                            <a href="{% url 'profile' %}" class="btn btn-default">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}